@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-white: #FFF7ED;
    --color-black: #000000;
    --color-red-bright: #DC2626;
    --color-red-dark: #991B1B;
    --color-gold: #FDE047;
    --color-yellow: #FEF9C3;
    --color-green: #14532D;

    --color-gradient-gold-ltr: linear-gradient(90deg, transparent 0%, var(--color-gold) 100%);
    --color-gradient-gold-rtl: linear-gradient(90deg, var(--color-gold) 0%, transparent 100%);
    --color-gradient-yellow-ltr: linear-gradient(90deg, transparent 0%, var(--color-yellow) 100%);
    --color-gradient-yellow-rtl: linear-gradient(90deg, var(--color-yellow) 0%, transparent 100%);
    --color-gradient-red-dark-ltr: linear-gradient(90deg, transparent 0%, var(--color-red-dark) 100%);
    --color-gradient-red-dark-rtl: linear-gradient(90deg, var(--color-red-dark) 0%, transparent 100%);

    --font-family-main: 'Inter', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-30: 30px;
    --font-size-36: 36px;
    --font-size-72: 72px;
    --font-size-96: 96px;
    --line-height-125: 125%;

    --gap-4: 4px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-24: 24px;
    --gap-32: 32px;
    --gap-64: 64px;
    --gap-72: 72px;
    --gap-128: 128px;

    --padding-8-16: 8px 16px;
    --padding-12-24: 12px 24px;
    --padding-16-48: 16px 48px;
    --padding-16-72: 16px 72px;
    --padding-20-40: 16px 32px;
    --padding-24-72: 24px 72px;
    --padding-8: 8px;
    --padding-16: 16px;
    --padding-24: 24px;
    --padding-32: 32px;
    --padding-40: 40px;
    --padding-72: 72px;
    --padding-72-128: 72px 128px;
    --padding-93-128: 93px 128px;

    --height-4: 4px;
    --height-24: 24px;
    --height-48: 48px;
    --height-80: 80px;
    --height-300: 300px;
    --width-4: 4px;
    --width-48: 48px;
    --width-64: 64px;
    --width-80: 80px;
    --width-300: 300px;

    --radius-8: 8px;
    --radius-16: 16px;
    --radius-full: 9999px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-125);
}

.align-stretch {
    align-self: stretch;
}

.bg-black {
    background: var(--color-black);
}

.bg-black-25 {
    background: rgba(0, 0, 0, 0.25);
}

.bg-gold {
    background: var(--color-gold);
}

.bg-gradient-gold-ltr {
    background: var(--color-gradient-gold-ltr);
}

.bg-gradient-gold-rtl {
    background: var(--color-gradient-gold-rtl);
}

.bg-gradient-red-dark-ltr {
    background: var(--color-gradient-red-dark-ltr);
}

.bg-gradient-red-dark-rtl {
    background: var(--color-gradient-red-dark-rtl);
}

.bg-gradient-yellow-ltr {
    background: var(--color-gradient-yellow-ltr);
}

.bg-gradient-yellow-rtl {
    background: var(--color-gradient-yellow-rtl);
}

.bg-green {
    background: var(--color-green);
}

.bg-red-dark {
    background: var(--color-red-dark);
}

.bg-red-bright {
    background: var(--color-red-bright);
}

.bg-white {
    background: var(--color-white);
}

.bg-yellow {
    background: var(--color-yellow);
}

.border-1-gold {
    border: 1px solid var(--color-gold);
}

.border-1-yellow {
    border: 1px solid var(--color-yellow);
}

.border-4-gold {
    border: 4px solid var(--color-gold);
}

.border-4-red-dark {
    border: 4px solid var(--color-red-dark);
}

.border-4-red-bright {
    border: 4px solid var(--color-red-bright);
}

.border-4-yellow {
    border: 4px solid var(--color-yellow);
}

.borderb-4-gold {
    border-bottom: 4px solid var(--color-gold);
}

.bordert-4-gold {
    border-top: 4px solid var(--color-gold);
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1 0 0;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.font-bold {
    font-weight: var(--font-weight-bold);
}

.font-medium {
    font-weight: var(--font-weight-medium);
}

.font-semibold {
    font-weight: var(--font-weight-semibold);
}

.gap-4 {
    gap: var(--gap-4);
}

.gap-8 {
    gap: var(--gap-8);
}

.gap-12 {
    gap: var(--gap-12);
}

.gap-16 {
    gap: var(--gap-16);
}

.gap-24 {
    gap: var(--gap-24);
}

.gap-32 {
    gap: var(--gap-32);
}

.gap-64 {
    gap: var(--gap-64);
}

.gap-72 {
    gap: var(--gap-72);
}

.gap-128 {
    gap: var(--gap-128);
}

.h-4 {
    height: var(--height-4);
}

.h-24 {
    height: var(--height-24);
}

.h-48 {
    height: var(--height-48);
}

.h-80 {
    height: var(--height-80);
}

.h-300 {
    height: var(--height-300);
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.min-h-500 {
    min-height: 500px;
}

.px-8-16 {
    padding: var(--padding-8-16);
}

.px-12-24 {
    padding: var(--padding-12-24);
}

.px-16-48 {
    padding: var(--padding-16-48);
}

.px-16-72 {
    padding: var(--padding-16-72);
}

.px-20-40 {
    padding: var(--padding-20-40);
}

.px-24-72 {
    padding: var(--padding-24-72);
}

.px-8 {
    padding: var(--padding-8);
}

.px-16 {
    padding: var(--padding-16);
}

.px-24 {
    padding: var(--padding-24);
}

.px-32 {
    padding: var(--padding-32);
}

.px-40 {
    padding: var(--padding-40);
}

.px-72-128 {
    padding: var(--padding-72-128);
}

.rounded-8 {
    border-radius: var(--radius-8);
}

.rounded-16 {
    border-radius: var(--radius-16);
}

.rounded-full {
    border-radius: var(--radius-full);
}

.text-14 {
    font-size: var(--font-size-14);
}

.text-16 {
    font-size: var(--font-size-16);
}

.text-18 {
    font-size: var(--font-size-18);
}

.text-20 {
    font-size: var(--font-size-20);
}

.text-24 {
    font-size: var(--font-size-24);
}

.text-30 {
    font-size: var(--font-size-30);
}

.text-36 {
    font-size: var(--font-size-36);
}

.text-72 {
    font-size: var(--font-size-72);
}

.text-96 {
    font-size: var(--font-size-96);
}

.text-black {
    color: var(--color-black);
}

.text-center {
    text-align: center;
}

.text-gold {
    color: var(--color-gold);
}

.text-green {
    color: var(--color-green);
}

.text-red-bright {
    color: var(--color-red-bright);
}

.text-red-dark {
    color: var(--color-red-dark);
}

.text-white {
    color: var(--color-white);
}

.text-yellow {
    color: var(--color-yellow);
}

.w-4 {
    width: var(--width-4);
}

.w-48 {
    width: var(--width-48);
}

.w-64 {
    width: var(--width-64);
}

.w-80 {
    width: var(--width-80);
}

.w-300 {
    width: var(--width-300);
}

.w-min-content {
    max-width: min-content;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.no-shrink {
    flex-shrink: 0;
}

.Header {
    position: fixed;
    top: 0;
    width: 100%;
}

.HeroSection {
    padding-top: calc(87.5px + var(--padding-72));
}

.HeaderButton:hover {
    cursor: pointer;
    color: var(--color-gold);
    text-decoration: underline;
    text-underline-offset: 8px;
    transition: all 0.25s ease-in-out;
}

.Button:hover {
    cursor: pointer;
    background: var(--color-gold);
    transform: scale(1.05);
    transition: all 0.25s ease-in-out;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 1.5px 4px 0 rgba(0, 0, 0, 0.2);
}

.Button:hover * {
    color: var(--color-red-dark);
    stroke: var(--color-red-dark);
    transition: all 0.25s ease-in-out;
}

.Hover:hover {
    cursor: pointer;
    transform: scale(1.025);
    transition: all 0.25s ease-in-out;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 1.5px 4px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    :root {
        --font-size-72: 60px;
        --font-size-96: 60px;
        --gap-16: 16px;
        --gap-24: 16px;
        --gap-32: 16px;
        --gap-64: 16px;
        --gap-72: 16px;

        --padding-24: 16px;
        --padding-32: 16px;
        --padding-40: 16px;
        --padding-72: 32px;
        --padding-16-72: 16px;
        --padding-16-48: 16px;
        --padding-72-128: 32px 16px;
        --padding-24-72: 16px;
    }

    .CountDown {
        gap: unset;
        align-self: stretch;
        justify-content: space-between;
    }

    .Buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .DateVenue {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Hide {
        display: none;
    }

    .RowToCol {
        flex-direction: column;
    }

    .ColToRow {
        flex-direction: row;
    }

    .w-min-content {
        max-width: unset;
    }

    .Schedule {
        text-align: center;
    }

    .Gallery {
        width: -webkit-fill-available;
    }

    .RemoveGap {
        gap: inherit;
    }
}